<div class="fly-footer">
    <p>
        <!-- 底部导航 -->
        {volist name="nav" id="vo" } {eq name="vo.pid" value="0"}
        <a class="nav-this" href="{$vo.link}" target="{$vo.target}" title="{$vo.alias}">
            <i class="iconfont icon-{$vo.icon}"></i>{$vo.name}
        </a>
        {/eq} {/volist}
    </p>

    <p>
        <a href="http://{:$_SERVER['SERVER_NAME']}/">{$site_config['site_title']}</a> {:date('Y')} &copy; {if condition="$site_config['site_copyright'] neq ''"} Copyright:{$site_config['site_copyright']} {/if} {$site_config['site_icp']} {if condition="$site_config['site_tongji']
        neq ''"} {$site_config['site_tongji']} {/if}
        
    </p>
    <p>
        <!-- 个人用户保留下面一句，谢谢 -->
        Powered by <a target="_blank" href="http://www.laysns.com/">LaySNS v{$site_config['version']}</a>
    </p>
    <p>
        【免责声明：爱宠社区所有宠物信息内容系用户自行发布，其真实性、合法性由发布人负责，爱宠不提供任何保证，亦不承担任何法律责任！】
    </p>
    
</div>
<script>
    //百度推送代码
    (function() {
        var bp = document.createElement('script');
        var curProtocol = window.location.protocol.split(':')[0];
        if (curProtocol === 'https') {
            bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
        } else {
            bp.src = 'http://push.zhanzhang.baidu.com/push.js';
        }
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
</script>

<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1274771226'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s13.cnzz.com/z_stat.php%3Fid%3D1274771226%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>